
h1 {    
    margin-top: 1.5em;
    margin-bottom: 0em;
    text-align: center;
    font-size: 28px;}


h2{
    margin-top: 1em;
    margin-bottom: 0em;
    font-size: 17px;}

h3{
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 17px;
    font-style: italic}

h4{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 2.5em;
    margin-right: 6em;
    font-size: 17px;}

h5{    
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 17px;
    margin-left: 2.5em;
    margin-right: 2.5em;
    text-align: center;
    font-weight:normal;}

p { 
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 17px;
    margin-left: 2.5em;
    margin-right: 2.5em}
    

hr { 
    margin-top: 0em;
    margin-bottom: 0em;}


ul{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 1.5em;
    margin-right: 1em;
    font-size: 17px;}

.split-para{ 
    display:block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 2.5em;}
    
.split-para span{ 
    display:block;
    float:right;
    width:30%;
    margin-left:10px;
    margin-top: 0em;
    margin-bottom: 0em;}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;}